@import "tailwindcss";
.link-pointer{
    cursor: pointer;
}

.page {
  background: #f5f0ff;
  min-height: 100vh;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.card {
  background: #ffffff;
  max-width: 720px;
  margin: auto;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.title {
  color: #5b2d8b;
  margin-bottom: 18px;
}

.section {
  margin-bottom: 22px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #5b2d8b;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  gap: 10px;
}

.button-primary {
  background: #7b3fe4;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.button-secondary {
  background: #e6dbff;
  color: #5b2d8b;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

.item-card {
  background: #f3edff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.order-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #fff;
}
