server:
  port: 8080


jwt:
  secret: mysecretkey12345678901hfkjhkjdhkhksjdgfhjgjdkjkhfkdh23456

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://localhost:8082
              predicates:
                - Path=/products,/products/**
            - id: order-service
              uri: http://localhost:8081
              predicates:
                - Path=/orders,/orders/**

            - id: auth-service
              uri: http://localhost:8085
              predicates:
                - Path=/auth/**
